/*------------------------------------------------------------------------------------------------*/
/* Body Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden; /* Hides horizontal scrollbar */
    overflow-y: auto; /* Allows vertical scrollbar if needed */
}

/* Main Content Styles */
main {
    display: flex;
    flex-grow: 1;
    flex: auto;
}
/*------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------*/

/* Header Styles */
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: -10px;
}
/* Header h1 Styles */
header h1 {
    text-align: middle;
}

header h2 {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 85px;
    left: 15px;
}
/*------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------*/
/* Navigation Styles */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}
/*------------------------------------------------------------------------------------------------*/

/* Container Styles */
.container {
    text-align: left;
    width: 100%;
}

/*------------------------------------------------------------------------------------------------*/
/* Post Styles */
.post {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0 10px 20px; /* Adjust margin for spacing */
    display: inline-block;
    width: 200px; /* Set the desired width */
    height: 200px; /* Set the desired height */
    vertical-align: top;
}

/* The place to post iamges */
.post-image {
    max-width: 100%;
    height: auto;
}

/* The home page 49er wallpaper */
.front-page {
    max-width: 100%;
    height: fit;
}
/*------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------*/
/* Footer Styles */
footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    background-color: #333;
    color: #fff;
    text-align: center;
}
/*------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------*/
/* Logo Styles */
.logo {
    width: 100px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 10px;
}
/*------------------------------------------------------------------------------------------------*/